# настройки mysql
MYSQL_DATABASE=gitea
MYSQL_USER=gitea_user
MYSQL_PASSWORD=gitea_secure_password_2026
MYSQL_ROOT_PASSWORD=mysql_super_root_password_2026

# настройки gitea (уникальные порты диапазона 44xx)
GITEA_HTTP_PORT=4430
GITEA_SSH_PORT=4422
TIMEZONE=Europe/Moscow
USER_UID=1000
USER_GID=1000
