# переменные текущего пользователя хоста
USER=eegor
UID=1000
GID=1000
TIMEZONE=Europe/Moscow

# системные параметры сборки и проекта
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
COMPOSE_PROJECT_NAME=vipkc_lab8
