# уникальный внешний порт adminer (диапазон 44xx)
ADMINER_PORT=4483

# параметры субд mariadb
MARIADB_ROOT_PASSWORD=adminer_root_pass_2026
MARIADB_DATABASE=production_db
MARIADB_USER=adminer_user
MARIADB_PASSWORD=adminer_secure_pass_2026

TIMEZONE=Europe/Moscow
