# порты (диапазон 44xx для исключения конфликтов)
PMA_PORT=4481

# параметры субд mysql
MYSQL_ROOT_PASSWORD=pma_root_secure_pass_2026
MYSQL_DATABASE=app_database
MYSQL_USER=student
MYSQL_PASSWORD=student_secret_pass_2026

TIMEZONE=Europe/Moscow
